@font-face {
    font-family: 'Verdana Regular';
    src: url('fonts/Verdana.eot');
    src: url('fonts/Verdana.eot?#iefix') format('embedded-opentype'),
    url('fonts/Verdana.woff') format('woff'),
    url('fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Verdana Bold';
    src: url('fonts/Verdana-Bold.eot');
    src: url('fonts/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Verdana-Bold.woff') format('woff'),
    url('fonts/Verdana-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.main-container{
    font-family: "Verdana Regular", sans-serif;
    font-size: 14px;
    color: white;
    background: url("../images/bg.png") no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    position: relative;
}
.main-container a{
    text-decoration: none;
}
.text-green{
    color: #3CB878;
}
.bg-green{
    color: #3CB878;
}
.inline-block{
    display: inline-block;
}

.left{
    float: left;
}
.right{
    float: right;
}
.align-right{
    text-align: right;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/*header*/
.header{
    padding: 18px 75px 18px 80px;
    background-color: rgba(0,0,0,.4);
    height: 22px;
}
.header-block{
    /*line-height: 20px;*/
    /*margin: 18px 0;*/
}
.site-name{
    font-family: "Verdana Bold", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}
.site-name:hover{
    color: #3CB878;
    transition-property: color;
    transition-duration: 2s;
}

.header-icon{
    height: 20px;
    margin-right: 25px;
    display: inline-block;
}
.calc-icon{
    background: url("../images/icons.png") no-repeat;
    width: 20px;
}
.msg-icon{
    background: url("../images/icons.png") no-repeat;
    background-position-y: -22px;
    width: 28px;
}

.compas-icon{
    background: url("../images/icons.png") no-repeat;
    background-position-y: -44px;
    width: 20px;
}
.header-icon:hover{
    background: url("../images/icons_hover.png") no-repeat;
}
.header-icon:hover.msg-icon{
    background-position-y: -22px;
}
.header-icon:hover.compas-icon{
    background-position-y: -44px;
}
.header-icons{
    border-right: 1px solid;
    border-color: rgba(255,255,255,.1);
}
.welcome-block {
    margin-left: 25px;
    line-height: 20px;
}
.welcome-block > *{
    /*margin-left: 25px;*/
    /*line-height: 20px;*/
    vertical-align: middle;
}



/*modal*/

.modal-window{
    width: 322px;
    padding: 30px 60px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    top: calc(50% + 29px);
    left: 50%;
    transform: translate(-50%, -50%);

}
.square{
    position: absolute;
    top: 30px;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}
.modal-header-title{
    color: #000;
    font-size: 20px;
}
.social-button{
    margin: 15px 0;
}
.social-button{
    width: 49%;
    display: inline-block;
    padding: 5px 0;
    border-radius: 4px;
}

.social-icon{
    width: 50px;
    /*height: 28px;*/
    line-height: 28px;

    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border-right: 1px solid;
    border-color: rgba(255,255,255,.1);
    /*padding: 5px 0;*/
}
.social-text{
    font-size: 16px;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: calc(100% - 51px);
}
.fb{
    background-color: #305DB8;
}
.google{
    background-color: #DF4A32;
}
.separator-block{
    text-align: center;
    position: relative;
}
.separator{
    margin: 20px 0;
    height: 2px;
    background-color: #707070;
    opacity: .6;
    position: relative;
}
.separator::before{
    content: "or";
    background-color: white;
    color: #848484;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 0 20px;


}
.form-input{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 15px 20px;
    margin: 5px 0;
    border-radius: 2px;
}
.form-input:focus{
    outline: none;
    border-color: transparent;
    box-shadow: rgba(225,225,225,.8) 0 3px 8px ;
}
.form-input::placeholder{
    font-size: 14px;
    color: #BEBEBE;
}
.agreed-checkbox+label{
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #BEBEBE;
    box-sizing: border-box;
    border-radius: 2px;
}
/*.agreed-checkbox+label>i{*/
    /*height: 12px;*/
    /*width: 12px;*/
    /*color: #3CB878;*/

/*}*/
.agreed-checkbox:checked+label::before{
    display: inline-block;
    content: "\f00c";
    font-family: "FontAwesome";
    height: 14px;
    width: 12px;
    color: #3CB878;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:  translate(-50%, -50%);


}
.agreed-checkbox{
    display: none;
}
.form-control{
    margin: 15px 0;
}
.agreed-checkbox-text{
    color: #000000;
    margin-left: 10px;
}

.btn-success{
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #3CB878;
    border: 1px solid #3CB878;
    border-radius: 2px;
    padding: 15px;
}
.hover-link {
    border-bottom:  1px solid transparent;
}

.hover-link:hover{
    border-color: #3CB878;
    transition-property: border-color;
    transition-duration: 2s;
}